.section__img {
  display: block;
  max-width: 200px;
  height: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  margin-left: auto;

  @media (min-width: $mqMinWidth) {
    max-width: none;
  }
}

.section__h2 {
  text-transform: uppercase;
}

.section__p {
  margin-inline-start: 10px;
}
